.App {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #8ebaba;
  min-height: 100vh;
}

.editor-container, .preview-container {
  width: 45%;
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  background-color: #4aa3a3;
  color: black;
  padding: 10px;
  font-weight: bold;
}

#editor {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: none;
  resize: vertical;
}

#preview {
  padding: 20px;
  overflow-wrap: break-word;
}

/* Additional styles for markdown content */
#preview h1 {
  border-bottom: 2px solid #1d2f2f;
}

#preview code {
  background-color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

#preview pre {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

#preview table {
  border-collapse: collapse;
}

#preview td, #preview th {
  border: 2px solid #224b4b;
  padding: 5px;
}

#preview img {
  max-width: 100%;
  height: auto;
}